/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

/*
    Create header with title text below an image
*/
header {
    text-align: center;
    margin-bottom: 20px;

    img {
        max-width: 100%;
        height: auto;
    }
}
/*
    Create content boxes
*/
.content-box {
    display: inline-block;
    width: 45%;
    margin: 20px;
    vertical-align: top;
}
/*
   Create browse
*/
.browse-section {
    .row {
        justify-content: center;
    }

    .card {
        margin: 10px;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

